// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #0d6efd;
  --ion-color-primary-rgb: 13,110,253;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: #20c997;
  --ion-color-secondary-rgb: 32,201,151;
  --ion-color-secondary-contrast: #ffffff;

  --ion-color-tertiary: #6f42c1;

  --ion-background-color: #f4f6f9;
  --ion-text-color: #212529;
}
